@font-face {
  font-family: pony;
  src: url(./font/Pony.ttf);
  font-weight: bold;
}
body {
  margin: 0;
  font-size: 24px;
  font-family: "pony";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
